<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="warn">
	<Appenders>
		<File name="MyFile" fileName="src/main/resources/logs/com.epam.lab.logger.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} 
	[%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="MyFile" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration> 



